/MarcelJoachimKloubert/obj
/MarcelJoachimKloubert/bin
/MarcelJoachimKloubert.v12.suo
/MarcelJoachimKloubert.Tests/obj
/MarcelJoachimKloubert.Tests/bin
/MarcelJoachimKloubert.Examples.Notifiable.WPF/obj
/MarcelJoachimKloubert.Examples.Notifiable.WPF/bin
/.vs/MarcelJoachimKloubert/v14/.suo
/MarcelJoachimKloubert/MarcelJoachimKloubert.csproj.user
